In [1]:
import pandas as pd

In [2]:
songs = pd.read_csv('datasets/msd.csv')

In [3]:
C = pd.read_csv('datasets/candset_msd_overlap_blocker_th2.csv')

In [4]:
songs_id = songs.set_index('id', drop=False)

In [9]:
lid_set = set(list(C.l_id.values))
rid_set = set(list(C.r_id.values))

In [21]:
C.r_id.head()

0    459437
1    638163
2    509809
3    509809
4    509809
Name: r_id, dtype: int64

In [17]:
list(lid_set)[:5], list(rid_set)[:5]

([262144, 1, 917506, 786436, 262150], [262144, 1, 917506, 786436, 262150])

In [10]:
songs_A = songs_id.loc[lid_set]
songs_B = songs_id.loc[rid_set]

In [11]:
len(songs_A), len(songs_B)

(80187, 80187)

In [20]:
459437 in rid_set

True

In [13]:
songs_A.reset_index(drop=True, inplace=True)
songs_B.reset_index(drop=True, inplace=True)

In [14]:
songs_A.head()

,id,title,release,artist_name,duration,artist_familiarity,artist_hotttnesss,year
0,262144,Give me back my gold,LunaDance,Bunnyranch,181.62893,0.542567,0.347783,2006
1,1,Silent Night,Monster Ballads X-Mas,Faster Pussy cat,252.05506,0.649822,0.394032,2003
2,917506,She Tears Out,Weve Moved,Psycho and the Birds,137.87383,0.388882,0.266937,2008
3,786436,Song For Samael,Breedless,Ego Likeness,274.72934,0.582485,0.420262,2010
4,262150,Sube a mi nave espacial,Los planes y archivos del doctor Yo CD 1,7 Notas 7 Colores,284.05506,0.560697,0.357304,1997

In [15]:
songs_B.head()

,id,title,release,artist_name,duration,artist_familiarity,artist_hotttnesss,year
0,262144,Give me back my gold,LunaDance,Bunnyranch,181.62893,0.542567,0.347783,2006
1,1,Silent Night,Monster Ballads X-Mas,Faster Pussy cat,252.05506,0.649822,0.394032,2003
2,917506,She Tears Out,Weve Moved,Psycho and the Birds,137.87383,0.388882,0.266937,2008
3,786436,Song For Samael,Breedless,Ego Likeness,274.72934,0.582485,0.420262,2010
4,262150,Sube a mi nave espacial,Los planes y archivos del doctor Yo CD 1,7 Notas 7 Colores,284.05506,0.560697,0.357304,1997

In [22]:
songs_A.to_csv('./msd_A.csv', index=False)
songs_B.to_csv('./msd_B.csv', index=False)

In [23]:
citeseer = pd.read_csv('datasets/citeseer.csv')
dblp = pd.read_csv('datasets/dblp.csv')

/scratch/pradap/local/share/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [25]:
C = pd.read_csv('datasets/citeseer_candset_ovth_2.csv')

In [26]:
citeseer_id = citeseer.set_index('id', drop=False)
dblp_id = dblp.set_index('id', drop=False)

In [27]:
lid_set = set(list(C.l_id.values))
rid_set = set(list(C.r_id.values))

In [28]:
len(lid_set), len(rid_set)

(78578, 94199)

In [33]:
citeseer_a = citeseer_id.loc[list(lid_set)]
dblp_b = dblp_id.loc[list(rid_set)]

In [34]:
len(citeseer_a), len(dblp_b)

(78578, 94199)

In [35]:
citeseer_a.reset_index(inplace=True, drop=True)
dblp_b.reset_index(inplace=True, drop=True)

In [36]:
citeseer_a.head()

,id,title,authors,journal,month,year,publication_type
0,262146,INTRODUCTION FINITE FRACTURE MECHANICS OF MATR...,John A. Nairn,NaN,NaN,NaN,NaN
1,17458,Model-Based Occlusion Handling for Tracking in...,"Csaba Beleznai, Bernhard Frhstck, Horst Bischo...",NaN,NaN,NaN,NaN
2,1048581,Examining the Transfer Student Experience: Int...,"Alexander C. Mccormick, Shimon A. Sarraf, Alli...",NaN,NaN,NaN,NaN
3,1310726,Formalizing Dynamic Software Updating,"Gavin Bierman, Michael Hicks, Peter Sewell, Ga...",NaN,NaN,2003.0,NaN
4,786444,Lower Bounds for Deterministic and Nondetermin...,Alexander A. Razborov,NaN,NaN,NaN,NaN

In [37]:
dblp_b.head()

,id,title,authors,journal,month,year,publication_type
0,1835015,Multiplied Conditional Impossible Differential...,"Leibo Li, Jiazhe Chen, Xiaoyun Wang",IACR Cryptology ePrint Archive,NaN,2011,article
1,786441,Tamagotchis Need Not Die - Verification of STA...,"Udo Brockmeyer, Gunnar Wittich",NaN,NaN,1998,inproceedings
2,2097168,Two-Dimension Common Factor Decomposition of H...,"Zhixin Wang, Cheung-Fat Chan",IEEE Signal Process. Lett.,NaN,2013,article
3,776885,The Impact Of Relationships And Confucian Ethi...,"Jijie Wang, Lih-Bin Oh",NaN,NaN,2011,inproceedings
4,262163,A Reconfigurable Hardware Platform for Digital...,"K. Henriss, Peter Rffer, Rolf Ernst, S. Hasenzahl",NaN,NaN,2000,inproceedings

In [38]:
citeseer_a.to_csv('datasets/citeseer_feat.csv', index=False)
dblp_b.to_csv('datasets/dblp_feat.csv', index=False)