In [1]:
import pandas as pd

In [2]:
A = pd.read_csv('../datasets/person_table_A.csv')
B = pd.read_csv('../datasets/person_table_B.csv')

In [8]:
em.set_key(A, 'ID')
em.set_key(B, 'ID')

True

In [17]:
import py_entitymatching as em
import numpy as np

In [10]:
ab = em.AttrEquivalenceBlocker()

In [11]:
C = ab.block_tables(A, B, 'zipcode', 'zipcode', l_output_attrs=['zipcode', 'address'], 
                    r_output_attrs=['zipcode', 'address'])

In [14]:
help(em.add_output_attributes)

Help on function add_output_attributes in module py_entitymatching.utils.generic_helper:

add_output_attributes(candset, l_output_attrs=None, r_output_attrs=None, l_output_prefix='ltable_', r_output_prefix='rtable_', validate=True, copy_props=True, delete_from_catalog=True, verbose=False)
    # data frame with output attributes

In [15]:
D = em.add_output_attributes(C, ['name'], ['name'], validate=False, delete_from_catalog=False)

In [18]:
K = np.array_split(C, 2)

In [19]:
em.copy_properties(C, K[0])

True

In [20]:
em.copy_properties(C, K[1])

True

In [21]:
D1 = em.add_output_attributes(K[0], ['name'], ['name'], validate=False, delete_from_catalog=False)

In [24]:
# D2 = em.add_output_attributes(K[1], ['name'], ['name'], validate=False, delete_from_catalog=False)

In [26]:
def add_attrs(candset, ltbl, rtbl, fk_ltable, fk_rtable, lkey, rkey,
              lout=None, rout=None, l_prefix='l_', r_prefix='r_'):
    index = candset.index
    if lout != None:
        colnames = [l_prefix + c for c in lout]
        # ltbl = ltbl.set_index(index, drop=True)
        ldf = create_proj_df(ltbl, lkey, candset[fk_ltable], lout, colnames)


    if rout != None:
        colnames = [r_prefix + c for c in rout]
        # ltbl = ltbl.set_index(index, drop=True)
        rdf = create_proj_df(rtbl, rkey, candset[fk_rtable], rout, colnames)


    if lout != None:
        ldf.set_index(index, inplace=True, drop=True)
        candset = pd.concat([candset, ldf], axis=1)
    if rout != None:
        rdf.set_index(index, inplace=True, drop=True)
        candset = pd.concat([candset, rdf], axis=1)
    candset.set_index(index, inplace=True, drop=True)
    return candset
def create_proj_df(df, key, vals, attrs, colnames):
    df = df.set_index(key, drop=False)
    df = df.ix[vals, attrs]
    df.reset_index(drop=True, inplace=True)
    df.columns = colnames
    return df

In [29]:
d2 = add_attrs(K[1], A, B, 'ltable_ID', 'rtable_ID', 'ID', 'ID', ['name'], ['name'])

In [30]:
d2

,_id,ltable_ID,rtable_ID,ltable_zipcode,ltable_address,rtable_zipcode,rtable_address,l_name,r_name
8,8,1,4,94122,"1652 Stockton St, San Francisco",94122,"170 Post St, Apt 4, San Francisco",Michael Franklin,Alfons Kemper
9,9,3,2,94122,"423 Powell St, San Francisco",94122,"1652 Stockton St, San Francisco",Binto George,Mike Franklin
10,10,3,3,94122,"423 Powell St, San Francisco",94122,"108 South Park, San Francisco",Binto George,Joseph Kuan
11,11,3,4,94122,"423 Powell St, San Francisco",94122,"170 Post St, Apt 4, San Francisco",Binto George,Alfons Kemper
12,12,4,2,94122,"1702 Post Street, San Francisco",94122,"1652 Stockton St, San Francisco",Alphonse Kemper,Mike Franklin
13,13,4,3,94122,"1702 Post Street, San Francisco",94122,"108 South Park, San Francisco",Alphonse Kemper,Joseph Kuan
14,14,4,4,94122,"1702 Post Street, San Francisco",94122,"170 Post St, Apt 4, San Francisco",Alphonse Kemper,Alfons Kemper