In [1]:
import sys
sys.path.append('/Users/pradap/Documents/Research/Python-Package/scaling/dmagellan/')

In [2]:
import os

import pandas as pd
import dask

# from dmagellan.blocker.attrequivalence.attr_equiv_blocker import AttrEquivalenceBlocker

datapath = "../datasets/"
A = pd.read_csv(os.path.join(datapath, 'person_table_A.csv'), low_memory=False)
B = pd.read_csv(os.path.join(datapath, 'person_table_B.csv'), low_memory=False)

In [3]:
from dmagellan.feature.autofeaturegen import get_features_for_blocking
from dmagellan.blocker.rulebased.rule_based_blocker import RuleBasedBlocker

In [4]:
block_f = get_features_for_blocking(A, B)

In [11]:
rb = RuleBasedBlocker()
# Add rule : block tuples if name_name_lev(ltuple, rtuple) < 0.4
rb.add_rule(['name_name_lev_sim(ltuple, rtuple) < 0.4'], block_f)
rb.set_table_attrs(ltable_attrs=['name'], rtable_attrs=['name'])
C = rb.block_tables(A, B, 'ID', 'ID', l_output_attrs=['name', 'address', 'birth_year'], 
                    r_output_attrs=['name', 'address', 'birth_year'], 
                   nltable_chunks=2, nrtable_chunks=2, compute=False)
C

Delayed('add_id-d6121c85-ba11-48ca-a63a-977ec846364a')

In [12]:
rb = RuleBasedBlocker()
rb.add_rule(['birth_year_birth_year_exm(ltuple, rtuple) == 0'], block_f)
rb.set_table_attrs(ltable_attrs=['birth_year'], rtable_attrs=['birth_year'])
D = rb.block_candset(C, A, B, 'l_ID', 'r_ID', 'ID', 'ID', nchunks=4, show_progress=True, compute=True)

[########################################] | 100% Completed |  0.2s

In [13]:
D

,_id,l_ID,r_ID,l_name,l_address,l_birth_year,r_name,r_address,r_birth_year
0,0,1,2,Michael Franklin,"1652 Stockton St, San Francisco",1988,Mike Franklin,"1652 Stockton St, San Francisco",1988
1,1,2,1,William Bridge,"3131 Webster St, San Francisco",1986,Bill Bridge,"3131 Webster St, San Francisco",1986
2,2,1,2,Michael Franklin,"1652 Stockton St, San Francisco",1988,Mike Franklin,"1652 Stockton St, San Francisco",1988
3,3,2,1,William Bridge,"3131 Webster St, San Francisco",1986,Bill Bridge,"3131 Webster St, San Francisco",1986
4,4,4,4,Alphonse Kemper,"1702 Post Street, San Francisco",1984,Alfons Kemper,"170 Post St, Apt 4, San Francisco",1984
5,5,4,4,Alphonse Kemper,"1702 Post Street, San Francisco",1984,Alfons Kemper,"170 Post St, Apt 4, San Francisco",1984