In [12]:
import py_stringsimjoin as ssj

In [18]:
A, B = ssj.load_person_dataset()

In [20]:
A['A.zipcode']

0    94107.0
1    94122.0
2    94107.0
3    94122.0
4    94122.0
5    94122.0
6        NaN
Name: A.zipcode, dtype: float64

In [24]:
A[~A['A.zipcode'].isnull()]

,A.id,A.name,A.birth_year,A.hourly_wage,A.address,A.zipcode
0,a1,Kevin Smith,1989,30.0,"607 From St, San Francisco",94107.0
1,a2,Michael Franklin,1988,27.5,"1652 Stockton St, San Francisco",94122.0
2,a3,William Bridge,1986,32.0,"3131 Webster St, San Francisco",94107.0
3,a4,Binto George,1987,32.5,"423 Powell St, San Francisco",94122.0
4,a5,Alphonse Kemper,1984,35.0,"1702 Post Street, San Francisco",94122.0
5,a6,,1990,40.0,"24th Street, San Francisco",94122.0