In [1]:
import pandas as pd
import sys

In [2]:
sys.path.append('/Users/pradap/Documents/Research/Python-Package/scaling/dmagellan/')

In [3]:
from dmagellan.blocker.attrequivalence.attr_equiv_blocker import AttrEquivalenceBlocker

In [4]:
A = pd.read_csv('../../datasets/person_table_A.csv')
B = pd.read_csv('../../datasets/person_table_B.csv')

In [5]:
ab = AttrEquivalenceBlocker()

In [6]:
help(ab.block_tables)

Help on method block_tables in module dmagellan.blocker.attrequivalence.attr_equiv_blocker:

block_tables(self, ltable, rtable, l_key, r_key, l_block_attr, r_block_attr, l_output_attrs=None, r_output_attrs=None, l_output_prefix='l_', r_output_prefix='r_', nltable_chunks=1, allow_missing=False, nrtable_chunks=1, scheduler=<function get>, number_of_workers=None, cache_size=1000000000.0, compute=False, show_progress=True) method of dmagellan.blocker.attrequivalence.attr_equiv_blocker.AttrEquivalenceBlocker instance

In [16]:
C = ab.block_tables(A, B, 'ID', 'ID', 'zipcode', 'zipcode', ['namme', 'address'], ['name', 'address'], \
                    nltable_chunks=1, nrtable_chunks=2)

In [17]:
C

    _id  l_ID  r_ID  l_namme  l_address  r_name  r_address
0     0     0     0      NaN        NaN     NaN        NaN
1     1     0     1      NaN        NaN     NaN        NaN
2     2     2     0      NaN        NaN     NaN        NaN
3     3     2     1      NaN        NaN     NaN        NaN
4     4     1     2      NaN        NaN     NaN        NaN
5     5     3     2      NaN        NaN     NaN        NaN
6     6     4     2      NaN        NaN     NaN        NaN
7     7     0     5      NaN        NaN     NaN        NaN
8     8     2     5      NaN        NaN     NaN        NaN
9     9     1     3      NaN        NaN     NaN        NaN
10   10     1     4      NaN        NaN     NaN        NaN
11   11     3     3      NaN        NaN     NaN        NaN
12   12     3     4      NaN        NaN     NaN        NaN
13   13     4     3      NaN        NaN     NaN        NaN
14   14     4     4      NaN        NaN     NaN        NaN